@import "tailwindcss";
@config "../../tailwind.config.ts";

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 24;
  }
  
  .grayscale-logo { 
    filter: grayscale(100%) contrast(0.8) opacity(0.6); 
    transition: all 0.3s ease; 
  }
  
  .grayscale-logo:hover { 
    filter: grayscale(0%) contrast(1) opacity(1); 
  }
}
